
<td>{{@index}}</td>
<td>{{ubezpieczony}}</td>
<td>{{benzyna}}</td>
<td>{{uszkodzony}}</td>
<td>{{naped4x4}}</td>
<td><button type="submit" name="id" value={{_id}} class="delete" formaction="/deleteCar">DELETE</button></td>
